################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Shawt.Data/obj
/Shawt.Models/obj
/Shawt.Providers/obj
/Shawt.Tests/obj
/Shawt.Data/bin
/Shawt.Models/bin
/Shawt.Providers/bin
/Shawt.Tests/bin
