name: .NET and Angular Deploy

on:
  push:
    branches: [ "master", "beta" ]
  pull_request:
    branches: [ "master" ]

# Add permissions at the top level
permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
    
    # .NET Setup and Build
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build --verbosity normal
      
    # Angular Setup and Deploy
    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '20.x'
    
    - name: Install Angular dependencies
      working-directory: ./Shawt/ClientApp
      env:
        NODE_OPTIONS: --openssl-legacy-provider
      run: npm install
    
    - name: Build Angular app
      working-directory: ./Shawt/ClientApp
      env:
        NODE_OPTIONS: --openssl-legacy-provider
      run: |
        npm run build -- --configuration production --base-href "/${{ github.event.repository.name }}/"
    
    - name: Deploy to GitHub Pages
      if: github.ref == 'refs/heads/master' # Only deploy on master branch
      uses: JamesIves/github-pages-deploy-action@v4
      with:
        folder: ./Shawt/ClientApp/dist
        branch: gh-pages
        token: ${{ secrets.GITHUB_TOKEN }}
